@model IEnumerable<BeQuiz.Models.Quiz>

@{
    ViewData["Title"] = "Moje Quizy";
}

<h2>My Quizzes</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Create New Quiz</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in Model)
        {
            <tr>
                <td>@quiz.Title</td>
                <td>@quiz.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@quiz.Id" class="btn btn-outline-info btn-sm">Details</a>
                    <a asp-action="CreateQuestion" asp-route-quizId="@quiz.Id" class="btn btn-outline-success btn-sm">Add Question</a>
                    <a asp-controller="Statistics" asp-action="QuizStats" asp-route-quizId="@quiz.Id" class="btn btn-outline-dark btn-sm">Statistics</a>
                    <a asp-action="Edit" asp-route-id="@quiz.Id" class="btn btn-warning btn-sm">Edit</a>
<a asp-action="Delete" asp-route-id="@quiz.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
